h2{
    text-align: center;
    color:#fff;
    padding: 10px;
}
.text {
    color:darkturquoise;
    font-style: italic;
    text-align: center;
    padding: 5px;
}
label{
color:azure;
}
p{
color:azure;
}
